page-home {
    .content {
        background: whitesmoke;
        &.fuckingbg {
            &-1 {
                background-color: rgba(255, 216, 145, 0.5);
            }
            &-2 {
                background-color: rgba(188, 226, 241, 0.5);
            }
            &-3 {
                background-color: rgba(255, 167, 145, 0.5);
            }
            &-4 {
                background-color: rgba(255, 145, 145, 0.5);
            }
            &-5 {
                background-color: rgba(183, 255, 183, 0.5);
            }
            &-6 {
                background-color: rgba(145, 242, 255, 0.5);
            }
            &-7 {
                background-color: rgba(222, 255, 145, 0.5);
            }
            &-8 {
                background-color: rgba(208, 188, 241, 0.5);
            }
            &-9 {
                background-color: rgba(255, 207, 145, 0.5);
            }
            &-10 {
                background-color: rgba(255, 145, 200, 0.5);
            }
            &-11 {
                background-color: rgba(183, 255, 243, 0.5);
            }
            &-12 {
                background-color: rgba(255, 145, 145, 0.5);
            }
        }
        .fucking-center-container {
            width: 80%;
            height: 30%;
            margin: 10% auto;
            h1 {
                font-size: 4.3rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;
                letter-spacing: -0.3rem;
            }
            .fuckingclassanimation {
                text-transform: uppercase;
                text-decoration-line: underline;
                font-weight: 100;
                &-1 {
                    color: rgb(6, 53, 92);
                }
                &-2 {
                    color: rgb(173, 114, 4);
                }
                &-3 {
                    color: rgb(2, 68, 19);
                }
                &-4 {
                    color: rgb(68, 2, 2);
                }
                &-5 {
                    color: rgb(70, 3, 44);
                }
            }
        }
    }
}