page-home {
    .content {
        background: whitesmoke;
        .fucking-center-container{
            width: 80%;
            height:30%;
            margin: 10% auto;
            h1{
                font-size:4rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;
                letter-spacing: -0.3rem;
            }

            .fuckingclassanimation-1 {
                color: rgb(6, 53, 92);
                text-decoration-line: underline;
            }

            .fuckingclassanimation-2 {
                color: rgb(173, 114, 4);
                text-decoration-line: underline;
            }

            .fuckingclassanimation-3 {
                color: rgb(2, 68, 19);
                text-decoration-line: underline;
            }

            .fuckingclassanimation-4 {
                color: rgb(68, 2, 2);
                text-decoration-line: underline;
            }

            .fuckingclassanimation-5 {
                color: rgb(70, 3, 44);
                text-decoration-line: underline;
            }
            
        }
    }
}