page-home {
    .content {
        background: whitesmoke;
        .fucking-center-container{
            width: 80%;
            height:30%;
            margin: 50% auto;
            h1{
                font-size:4.2rem;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 300;
            }
            
        }
    }
}